<!doctype html>
{% load static  %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ritesh Kumar Singh">

    <!-- <title>Product example · Bootstrap</title> -->
    {% block title %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    {% block css %}
    {% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">E-Commerce</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="{% url 'cart_view' %}">Cart</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {% if user.is_authenticated %}
                Hi! {{ user.username }}
              {% else %}
                Account
              {% endif %}
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}"> Logout </a></li>
              {% endif %}
              <li role="separator" class="divider"></li>
              {% if user.is_authenticated %}
                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-user"></span> SignUp </a></li>
              {% else %}
                <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> SignUp </a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
    {% block content %}
    {% endblock %}
    
    <footer class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
 </body>
 </html>

