{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h3 class="h3">Products</h3>
  <div class="row">
      {% for product in products %}
      <div class="col-md-3 col-sm-6">
        <div class="product-grid6">
            <div class="product-image6">
                <a href="#">
                    <img class="pic-1" src="{{ product.img_source.url }}">
                </a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{ product.product_name }}</a></h3>
                <div class="price"> ${{ product.price }}
                    <span>$14.00</span>
                </div>
            </div>
            <ul class="social">
                <li><a href="{% url 'product_display' product.id %}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

