{% extends 'base.html' %}
{% block title %}
<title> Login - ECommerce </title>
{% endblock %}

{% block css %} {% endblock %}
{% block content %}
<div class="container">
    <h1> Welcome to login Page .. </h1>
    <div class="row">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" class="form-control" id="username" name="username">
                <input type="password" class="form-control" id="password" name="password">
                <button type="submit" class="form-control"> Submit </button> 
                <a href="/signup"> First time login </a>
            </form>
    </div>
</div>
{% endblock %}