{% extends 'base.html' %}
<!-- Title for the page -->
{% block title %}
<title> Login - ECommerce </title>
{% endblock %}

<!-- CSS Links -->
{% block css %} {% endblock %}

<!-- Main Content -->
{% block content %}
{% if errorMsg %}
    <div class="alert alert-danger" role="alert">
        {{ errorMsg }}
    </div>
{% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Login via site</h3>
       </div>
       <div class="panel-body">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Submit </button>                     
                </div>
                <p class="text-center">First time login : <a href="/signup">Sign Up</a> </p> 
            </form>
        </div>
    </div>
{% endblock %}